@import "config";
@import "menu";
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
* {
    box-sizing: border-box;
}

$title: #24bba0;
$detail: #b2b2b2;
body {
    background: black;
    letter-spacing: 2px;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    line-height: 1.5;
    color: white;
}

.skills {
    .hr-text {
        font-size: 20px;
        position: relative;
        border: 0;
        height: 1.5em;
        &:before {
            content: "";
            background: linear-gradient(to right, transparent, $detail, transparent);
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            height: 1px;
        }
        &:after {
            content: attr(data-content);
            position: relative;
            display: inline-block;
            color: black;
            padding: 0 0.5em;
            line-height: 1.5em;
            color: $title;
            background-color: black;
        }
    }
    li {
        display: inline-block;
        font-size: 14px;
    }
    i {
        font-size: 7px;
    }
}

$title: #24bba0;
$header: #5371e1;
$detail: #b2b2b2;
$highlight: #5371e1;
$text: #ffffff;
body {
    background: black;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    line-height: 1.5;
    color: white;
    @include background;
    font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

//Headings
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;
    &.lg-heading {
        font-size: 10rem;
    }
    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        margin: auto;
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: darken(#bfff00, 10);
}

main {
    padding: 4rem;
    //height: 100%;
    min-height: calc(100vh-60px);
    .icons {
        margin-top: 1rem;
        a {
            padding: 0.4rem;
            &:hover {
                color: burlywood;
                @include easeOut();
            }
        }
    }
    &#home {
        overflow: hidden;
        h1 {
            margin-top: 20vh;
        }
    }
}

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: "bioimage bio bio" "job1 job2 job3";
    grid-template-columns: repeat(3, 1fr);
    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: $secondary-color 3px solid;
        height: 200px;
        width: 200px;
    }
    .bio {
        grid-area: bio;
        font-size: 1.5 rem;
    }
    .job-1 {
        grid-area: job1;
    }
    .job-2 {
        grid-area: job3;
    }
    .job-3 {
        grid-area: job2;
    }
    .job {
        background: lighten($primary-color, 5);
        padding: 0.5rem;
        border-bottom-color: #90ee90 5px soid;
        margin-bottom: 20px;
    }
}

//Work/Projects
.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.7 rem;
    img {
        width: 100%;
        border: 3px #ffffff solid;
        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}

//Button Styles
.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3 rem;
    &:hover {
        background-color: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

//Contact Page
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    div {
        font-size: 2rem;
        border: 3px #fff solid;
        margin-bottom: 3rem;
        @include easeOut;
        &:hover {
            padding: 0.5rem 1.5rem;
            background: $secondary-color;
            color: black;
            span {
                color: black;
            }
        }
    }
}

.btn-dark {
    @extend .btn;
    background: darken(white, 50);
    color: #fff;
}

.btn-light {
    @extend .btn;
    background: lighten(white, 50);
    color: #333;
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: #ffffff;
    color: #000000;
    height: 60px;
}

//Skills Page
.top-panel::before {
    content: "╲╱";
    color: #ffffff;
    position: absolute;
    opacity: 0.8;
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    width: 6rem;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    top: 29vh;
    bottom: 2rem;
    margin-left: -3rem;
    left: 50%;
    animation: bounce 5.5s ease infinite;
}

@keyframes bounce {
    50% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0);
    }
}

.top-panel {
    width: 100%;
    height: 100vh;
    background: #111;
    position: relative;
}

i {
    font-family: fontawesome !important;
}

@import "mobile";